# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Airflow logs and environment
airflow/logs/
airflow/.env
airflow/dags/__pycache__/

# Credentials and secrets
airflow/creds/
*.json
*.key
*.pem

# DBT build artifacts
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/.user.yml

# Linters & tooling
.sqlfluff

# Docker and system files
*.log
*.env
*.DS_Store

# VS Code
# VS Code & IDEs
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
*.swp
