# GCP / BigQuery Configuration
GCP_PROJECT_ID=your-gcp-project-id
BIGQUERY_DATASET=adaptive_ads_stg
GCP_GCS_BUCKET=your-gcs-bucket-name
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/creds/service-account.json

# Feature flags & local settings
ENABLE_BQ_LOAD=false
AIRFLOW_UID=50000

